.imagen_estrellas {
  /* position: absolute; */
  position: fixed;
  width: 100vw;
  height: 800px;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/night-stars-space-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -5;
}
.section_one {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  margin-top: 2rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.text-tittle {
  margin-left: 0vw;
  margin-top: 20vh;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  /* or 141% */

  text-align: center;

  color: #ffffff;
}
.imagen_loco {
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  max-height: 500px;
}
.section_two{
    background-color: var(--azuloscuro);
    max-width: 100% !important;
}
.imgtwo{
display: flex;
justify-content: center;
}
.content_about{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--azulclaro) !important;
    max-width: 900px;
}
.content_contact{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--azulclaro) !important;
  max-width: 900px;
  border-radius: 20px;
}

.section_three{
    margin-top: 25px;
}
.section_contact{
  margin-top: 20px;
  border-radius: 20px;
}
.card-list{
  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
@media (min-width: 881px) {
  .text-tittle{
    margin-bottom: 5rem;
    text-align: justify;
  }
}
