.card-link {
  text-decoration: none;
  color: var(--azulclaro);
}
.card-link:hover {
  color: var(--azuloscuro);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 2rem;
  gap: 10px;
}
