.custom-button{
    border: none;
    color: transparent;
}
.link-one{
    color: var(--blanco) !important;
}
.color-black{
    color: white !important;
}
.custom-button-scroll{
    border: none;
    background-color: var(--azulclaro);
    color: var(--blanco);
    transition: all 1s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='36' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248, 247, 249, 100%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu{
    background: var(--azuloscuro);
    align-items: center;
    border-radius: 10px;
}
.Navbar-scroll {
    background-color: var(--blanco);
    transition: all 1s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
    margin: 0% !important;
  }
  @media (min-width: 992px) {
    .menu{
        background: transparent;
    }
    .logo{
        margin-left: 30px;
    }
    .color-black{
        color: black !important;
    }
  }
  
  