:root {
  --azuloscuro: #071838;
  --azulclaro: #142442;
  --blanco: #fdfdfd;
}
h1 {
  color: #fdfdfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 48px;
}
p {
  color: #fdfdfd;
  text-align: justify;
}
